<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meal Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th scope="col">Day</th>
        <th scope="col">Breakfast</th>
        <th scope="col">Lunch</th>
        <th scope="col">Dinner</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="day : ${days}">
        <th scope = "row"><span th:text="${day.dayOfWeek}"></span></th>
        <td><span th:text="${day.breakfast}"></span></td>
        <td><span th:text="${day.lunch}"></span></td>
        <td><span th:text="${day.dinner}"></span></td>
        <td><a th:href="@{edit/{id}(id=${day.id})}" class="btn btn-dark">Edit</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
